{% extends 'home.html' %}
{% block content %}
<h1 class="text-light">This is the Contact page</h1>
<div class="list-group">
    <a href="https://www.linkedin.com/in/luispablosegovia/" class="list-group-item list-group-item-action" target="_blank">This is my LinkedIn page</a>
    <a href="https://github.com/manoloacademia/" class="list-group-item list-group-item-action" target="_blank">This is my GitHub profile</a>
    <a href="https://www.kaggle.com/lpablosegovia" class="list-group-item list-group-item-action" target="_blank">This is my Kaggle profile</a>
</div>

{% endblock %}