<!DOCTYPE html>
<html lang="en">
<head>
    <title>Pablo Segovia's CV</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
{% load static %}
<body background="https://wallpaperbat.com/img/370797-data-science-wallpaper-top-free-data-science-background.jpg">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"></a>
        <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">About me</a>
                </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'blog' %}">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'contact' %}">Contact</a>
            </li>
            
        </ul>
        </div>
    </nav>
    {% block content %}
    <div class="card bg-dark text-white">
        {% load static %}
        <img src="{% static 'img\profile.png' %}" class="card-img" alt="...">
        <div class="card-img-overlay">
        <h5 class="card-title">Hello! My name is Pablo</h5>
        <p class="card-text">I made this whole web app using Django.</p>
        <p class="card-text">Of course, Django is only one of my skills...</p>
        </div>
    </div>
    <div class="card text-center">
        <div class="card-header bg-warning text-dark">
        About me
        </div>
        <div class="card-body">
        <h5 class="card-title">If you want to check my skills</h5>
        <p class="card-text">Surelly you can step on this page</p>
        <a href="{% url 'about' %}" class="btn btn-primary bg-warning text-dark">Go to About me</a>
        </div>
        <div class="card-footer text-muted">
        keep going down...
        </div>
    </div>

    <div class="card text-center">
        <div class="card-header bg-danger text-light">
        Blog
        </div>
        <div class="card-body">
        <h5 class="card-title">In the blog page, you could find my publications</h5>
        <p class="card-text">Something about Django, Data Science, Machine Learning</p>
        <a href="{% url 'blog' %}" class="btn btn-danger bg-danger text-light">Go to Blog</a>
        </div>
        <div class="card-footer text-muted">
        keep going down...
        </div>
    </div>
    

    <div class="card text-center">
        <div class="card-header bg-success text-light">
        Contact
        </div>
        <div class="card-body">
        <h5 class="card-title">If you want to reach me out</h5>
        <p class="card-text">Find my LinkedIn, GitHub, Kaggle</p>
        <a href="{% url 'contact' %}" class="btn btn-secondary bg-success text-light">Go to Contact</a>
        </div>
        <div class="card-footer text-muted">
        I hope you've enjoyed :)
        </div>
    </div>
    {% endblock %}


    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</body>
</html>